{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% comment %} Heading and Static image container {% endcomment %}
    <div class="container-fluid text-white">
        <div class="row align-items-center my-5">
            <div class="col-md-6 p-3">
                <h1 class="display-4">Drive Your Dreams Home Today!</h1>
                <p class="lead">
                    Welcome to the ultimate destination for car enthusiasts. Discover a wide range of vehicles that suit your style, budget, and personality. Whether you're looking for a sleek sedan, a powerful SUV, or an eco-friendly ride, we have it all. Let your journey begin with the perfect car, just waiting for you.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'McLaren-50-home-image.jpg' %}" class="img-fluid rounded" alt="Car Image">
            </div>
        </div>
    </div>

    {% comment %} Filter container {% endcomment %}
    <div class="d-flex flex-wrap justify-content-between mx-5 text-white">
        {% for brand in brands%}
            <div class="px-5 py-3 rounded border border-success" style="background-color: #333333;">
                <a href="{% url 'home_page' brand.id %}" class="text-white text-decoration-none">
                    {{ brand.brand_name }}
                </a>
            </div>
        {% endfor %}
    </div>
    
    {% comment %} Contains car cards {% endcomment %}
    <div class="m-5">
        <h2>Total cars found: {{cars | length}}</h2>
    </div>

    <div class="d-flex flex-wrap justify-content-start mx-5 my-5 gap-4">
        {% for car in cars %}
            <div class="card" style="width: 18rem; background-color: #2F4F4F; border: none;">
                <img src="{{ car.car_image.url }}" class="card-img-top" alt="...">
                <div class="card-body text-white" style="background-color: #2F4F4F;">
                    <h5 class="card-title"> {{ car.car_name }} </h5>
                </div>
                <ul class="list-group list-group-flush" style="background-color: #2F4F4F;">
                    <li class="list-group-item text-white" style="background-color: #2F4F4F; border: none;">Brand: {{ car.brand }}</li>
                    <li class="list-group-item text-white" style="background-color: #2F4F4F; border: none;">Price: {{ car.price }}</li>
                    <li class="list-group-item text-white" style="background-color: #2F4F4F; border: none;">
                        <a href="{% url 'car_details_page' car.pk %}" class="card-link text-white">View Details</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock content %}